/* You can add global styles to this file, and also import other style files */

.modal-backdrop {
  display: none;
}

.modal {
  background: rgba(0,0,0,0.5);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.mat-radio-outer-circle {
  border-color: black;
}
  
.mat-radio-inner-circle {
  background-color: black;
}
  
.mat-radio-ripple .mat-ripple-element {
  background-color: black;
}


.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#DB8200; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#DB8200;
  background-color:#DB8200;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#DB8200;
}