h1 {
  text-decoration-line: underline;
  text-decoration-color: crimson;
  text-decoration-style: dashed;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

a.col {
  margin-top: 25%;
  padding: 15px 0;
}

a.btn {
  color: white;
}