<h1 class="d-flex justify-content-center">Proyecto Quiz</h1>
<a class="btn btn-warning" routerLink="/scores">Ver Puntuaciones</a>


<div class="d-flex justify-content-center d-block d-lg-none category-select">
  <h4>Selecciona una categoría</h4>
  <!-- <select class="form-select" [(ngModel)]="category" name="" id="">
    <option [ngValue]="item.title" *ngFor="let item of categoryArr">{{item.fullName}}</option>
  </select> -->
  <mat-form-field appearance="fill">
    <mat-label>Categorías</mat-label>
    <mat-select [(ngModel)]="category">
      <mat-option [value]="item.title" *ngFor="let item of categoryArr">{{item.fullName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="d-flex justify-content-center d-none d-lg-flex category-title">
  <h4 class="sub-title">Selecciona una categoría</h4>
</div>
<div class="d-none d-lg-flex">
  <div class="col categories checkboxgroup">
    <label class="form-check-label" for="category1">
      <h4>Historia de Chile</h4>
      <p><img src="../../assets/category1.jpg" alt="category-img"></p>
    </label>
    <input [(ngModel)]="category" class="form-check-input" value="history" type="radio" name="options" id="category1">
  </div>
  <div class="col categories checkboxgroup">
    <label class="form-check-label" for="category2">
      <h4>Música</h4>
      <p><img src="./../assets/category2.jpg" alt="category-img"></p>
    </label>
    <input [(ngModel)]="category" class="form-check-input" value="music" type="radio" name="options" id="category2">
  </div>
  <div class="col categories checkboxgroup">
    <label class="form-check-label" for="category3">
      <h4>Cultura Pop y TV</h4>
      <p><img src="./../assets/category3.jpg" alt="category-img"></p>
    </label>
    <input [(ngModel)]="category" class="form-check-input" value="tv" type="radio" name="options" id="category3">
  </div>
  <div class="col categories last-cat checkboxgroup">
    <label class="form-check-label" for="category4">
      <h4>Cultura Nerd</h4>
      <p><img src="./../assets/category4.jpg" alt="category-img"></p>
    </label>
    <input [(ngModel)]="category" class="form-check-input" value="nerd" type="radio" name="options" id="category4">
  </div>
</div>

<div class="text-center mt-4">
  <button (click)="selectCategory(category)" class="btn btn-primary btn-lg p-3">Ir al Quiz</button>
</div>